<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Timetable</title>
  <script type= "module"src="app.js" defer></script>
</head>

<body>
  <div class="app">
    <div class="timeline"></div>

    <div class="gutter">
      <ul class="gutter__list">
        {% for hour in hours %}
          <li class="gutter__item">
            {{ hour }}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="week">
      <ul class="week__list">
        {% for name, day in week %}
          <li class="week__item">
            <div class="day {{ name }}">
              <div class="day__title">
                {{ day.title }}
              </div>
              <div class="day__agenda">
                {% for event in day.agenda %}
                  <div
                    class="card"
                    style="
                      top: calc(var(--m) * (({{ event.start }} - 7) * 60));
                      height: calc(var(--m) * (60 * ({{ event.end }} - {{ event.start }})));
                      width: 100%;
                      background-color: {{ event.color }};
                    "
                  >
                    {{ event.title }}
                  </div>
                {% endfor %}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</body>

</html>