@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');
@import "colors.css";

:root {
  font-size: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter';
}

html,
body,
.app {
  height: 100vh;
}



/* 
  App
*/
.app {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: var(--oc-gray-4);
}

  .app__header {
    height: 24px;
  }



/* 
  Main Header
*/
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--oc-gray-9);
}
  
  .main-header__nav {
    flex: 1;
    padding-inline-start: 24px;
  }



/* 
  main-nav
*/
.main-nav {}

  .main-nav__list {
    display: flex;
    gap: 1rem;
    align-items: center;
    list-style: none;
  }

  .main-nav__item {}

  .main-nav__link {
    color: white;
    text-decoration: none;
  }



/*
  Timetable
*/
.timetable {
  flex: 1;
  display: flex;
  gap: 0.5rem;
}

  .timetable__gutter {
    margin-block-start: 36px;
  }



/* 
  Gutter
*/
.gutter {
  background-color: var(--oc-gray-1);
  width: 24px;
}

  .gutter__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    list-style: none;
  }

  .gutter__item {
    flex: 1;
    text-align: center;
    border-bottom: 1px solid var(--oc-gray-6);
  }



/* 
  Week
*/

.week {
  width: 100%;
}

  .week__list {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    height: 100%;
    list-style: none;
  }

  .week__item {
    flex: 1;
    height: 100%;
  }



/* 
  Day
*/
.day {
  height: 100%;
  padding-inline: 0.25rem;
  background-color: var(--oc-gray-2);
  opacity: 0.7;
}
  .day_active {
    opacity: 1;
  }

  .day__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-bottom: 1px solid var(--oc-gray-6);
    overflow: hidden;
  }

  .day__agenda {
    position: relative;
    height: calc(100% - 36px);
  }



/* 
  Event
*/
.event {
  display: flex;
  position: absolute;
  gap: 0.25rem;
  width: 100%;
  border: 0.125rem solid transparent;
  border-radius: 0.25rem;
}
  .event_active {
    border: 0.125rem solid var(--oc-green-6);
  }

  .event__color-label {
    height: 100%;
    width: 6px;
    border-radius: 0.125rem;
  }

  .event__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .event__title {
    font-size: 1rem;
  }

  .event__tags {}
  



/* 
  Timeline
*/
.timeline {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 3px;
  top: 24px;
  background-color: red;
}
