{% import "templates/_fns.njk" as fns %}
{% extends "templates/_layout.njk"%}

{% block app %}
  {% include "templates/_timeline.njk" %}
  {% include "templates/_header.njk" %}

  <main class="timetable">
    {% include "templates/_gutter.njk" %}
    <div
      class="week"
      style="--m: calc(100% / {{ maxTime - minTime }} / 60);"
    >
      <ul class="week__list">
        {% for name, day in days %}
          <li class="week__item">
            <div class="day {{ name }}">
              {{ fns.dayHeader(day) }}

              <div class="day__agenda">
                {% for event in day.agenda %}
                  {% set eventData = {
                    start: getTimeInMinutes(event.start) - (minTime * 60),
                    duration: getTimeInMinutes(event.end) - getTimeInMinutes(event.start),
                    color: event.color,
                    name: event.name
                  }%}

                  {{ fns.event(eventData) }}
                {% endfor %}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    <div>
  </main>

{% endblock %}
