<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Timetable</title>
</head>

<body>
  <div class="app">

    <header class="app__header main-header">
      <nav class="main-header__nav main-nav">
        <ul class="main-nav__list">
          {% for page in pages %}
            <li class="main-nav__item">
              <a class="main-nav__link" href="{{ page }}.html">
                {% if page === "index" %}
                  Main
                {% else %}
                  {{ page | capitalize }}
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <main class="timetable">

      <aside class="timetable__gutter gutter">
        <ul class="gutter__list">
          {% for hour in range(week.timeRange[0], week.timeRange[1]) %}
            <li class="gutter__item">
              {{ hour }}
            </li>
          {% endfor %}
        </ul>
      </aside>

      <div class="week">
        <ul class="week__list">
          {% for name, day in week.days %}
            <li class="week__item">
              <div class="day {{ day.name }}">
                <div class="day__title">
                  {{ day.title }}
                </div>
                <div class="day__agenda">
                  {% for event in day.agenda %}

                    <div
                      class="event"
                      style="
                        --m: calc(100% / {{ week.timeRange[1] - week.timeRange[0] }} / 60);
                        top: calc({{ (event.start - week.timeRange[0]) * 60 }} * var(--m));
                        height: calc(var(--m) * (60 * {{ event.end - event.start }}));
                        width: 100%;
                        background-color: {{ 'var(--oc-' + event.color + '-1);' | default('green', true) }};
                      "
                    >
                      <div
                        class="event__color-label"
                        style="
                          background-color: {{ 'var(--oc-' + event.color + '-4);' | default('green', true) }};
                        "
                      ></div>
                      <div class="event__content">
                        {{ event.name | capitalize }}
                      </div>
                    </div>

                  {% endfor %}
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      <div>
    </main>

  </div>
</body>

</html>